/*
To enable dark mode in my portfolio, I'll use @media (prefers-color-scheme: dark) {}
*/

a {
  font-size: 1.1em;
  font-weight: 800;
}

a:link {
  color:rgb(251, 193, 2)
}

a:visited {
  color: rgb(56, 132, 207);
}

body {
  background-color: rgb(240, 255, 252);
  color: rgb(66 , 66 , 66);
  font-family: 'Quicksand', 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

header {
  background-color: rgb(240, 152, 117);
  min-height: 250px;
  padding: 1em 35px;
}

iframe {
  display: block;
  margin: auto;
}

li {
  padding: 8px 0;
}

ol {
  list-style: none;
  margin: auto;
  max-width: 640px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.article {
  margin: 1em auto;
  max-width: 800px;
}

.article p {
  text-align: justify;
  margin: 1em 25px;
}

.description {
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 1000;
  margin: auto;
  max-width: 1000px;
  min-width: 320px;
}

.footer {
  background-image: url('recife_skyline_1_BW.svg');
  background-position: 0% 0%;
  background-size: cover;
  color: ghostwhite;
  padding: 8em 20%;
}

.footer a:link, .footer a:visited {
  color: lightblue;
  font-weight: 800;
}

.main-picture {
  margin: 0.5em 1px;
}

.main-picture img {
  background: linear-gradient(to right, rgb(56, 132, 207), rgb(183, 132, 178), rgb(251, 193, 2));
  border-radius: 200px;
  padding: 0.5em;
  width: 200px;
}

.project-link {
  display: block;
}

.ranking-img {
  width: 100%;
}

.skills li:nth-child(odd) {
  font-weight: bold;
}

.skills {
  clear: both;
}

.title-orange {
  color: indianred;
  margin: 4em 35px 12px 35px;
}

@media screen and (min-width: 1024px) {
  .main-picture {
    float: left;
    margin: 2em 20px;
  }
}
