* {
  margin: auto;
}

body {
  background-color: rgb(197 , 255 , 197);
  color: rgb(66 , 66 , 66);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
}

header {
  background-color: rgb(253 , 193 , 169);
  min-height: 250px;
  padding: 1em 35px;
}

iframe {
  display: block;
}

li {
  padding: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.description {
  margin: auto;
  padding: 3em 0;
  max-width: 1000px;
  min-width: 500px;
}

.footer {
  background-image: url('recife_skyline_1_BW.svg');
  background-position: 0% 0%;
  background-size: cover;
  color: ghostwhite;
  padding: 6em 0;
}

.footer a:link, .footer a:visited {
  color: lightblue;
  font-weight: 800;
}

.main-picture {
  float: left;
  margin: 2em 12px;
}

.main-picture img {
  background: linear-gradient(to right, rgb(192, 92, 192), rgb(92, 92, 192));
  border-radius: 200px;
  padding: 0.5em;
  width: 200px;
}

.Montserrat {
  font-family: 'Oswald', sans-serif;
}

.skills li:nth-child(odd) {
  font-weight: bold;
}

.projects img {
  border-radius: 24px;
  margin: 1.5em 35px;
  padding: 0.5em;
  width: 200px;
}

.skills {
  clear: both;
}

.title-orange {
  color: indianred;
  margin: 4em 35px 12px 35px;
}
