.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto 60px;
  max-width: 640px;
}

.category {
  color: darkgray;
  margin: 0 5px;
}

.center {
  text-align: center;
}

.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2px 5px;
}

.ingredients-list {
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.input, .button {
  border: 1px solid silver;
  border-radius: 10px;
  margin: 1em auto 0;
  padding: 0.5em 20px;
  width: 250px;
}

.button:enabled {
  background-color: #0b8053;
  color: aliceblue;
}

.button:enabled:hover {
  background-color: rgb(129, 230, 196);
  color: black;
}

.meals {
  align-items: center;
  background: #0b8053;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.meals > .logo {
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.recipe-body {
  margin: 5px;
}

.recipe-card {
  border: 1px solid silver;
  border-radius: 20px;
  margin: 6px;
  overflow: hidden;
}

.recipe-title {
  margin: 1em 10px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.search-bar {
  margin: 15px 0;
  padding: 5px;
}

.silver-shadow {
  box-shadow: 0 5px 5px silver;
}

.start-recipe-btn {
  background-color: #6ce34f;
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
