main {
  height: 100vh;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-header, .app-button {
    transition: right 0.5s ease-in-out;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: inherit;
  justify-content: flex-end;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  z-index: 2;
}

.App-link, .App-header a {
  border-bottom: 1px solid silver;
  color: #61dafb;
  height: 50px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}

.hide-header {
  right: -50%;
}

.app-button {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 50%;
  height: 50px;
  position: absolute;
  right: -50px;
  width: 50px;
}

.show {
  right: 5px;
}

.header-button {
  bottom: 200px;
}

.with-header {
  right: 40%;
}

.home {
  box-sizing: border-box;
  height: 100%;
  padding: 0 5px;
  overflow-y: auto;
  width: 100%;
}

.dark-mode-button {
  bottom: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
