main {
  height: 100vh;
  text-align: center;
  width: 100%;
}

img {
  border-radius: 12px;
}

.App-header {
  align-items: center;
  background-color: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  z-index: 2;
}

.App-header a {
  background-color: inherit;
  border-bottom: 1px solid silver;
  font-size: 22px;
  height: 40px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.App-header a:hover {
  box-shadow: inset 0 -10px coral;
}

.app-button {
  background-color: rgba(245, 245, 245, 0.616);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 20px;
  width: 50px;
}

.article * {
  margin: 1em auto;
  max-width: 800px;
  padding: 4px 0;
}

.article p {
  text-align: justify;
  padding: 0 25px;
}

.dark-mode-button {
  bottom: 100px;
}

.header-button {
  background-image: url('./images/menu.svg');
  bottom: 200px;
}

.hide-header {
  right: -50%;
}

.home, .article {
  box-sizing: border-box;
  height: 100%;
  padding: 0 5px;
  overflow-y: auto;
  width: 100%;
}

.profile {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  background-image: url('./images/perfil_insta.jpg');
  border: 5px solid coral;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile:hover {
  animation: flip 0.5s ease-in-out forwards;
}

.ranking-img {
  width: 100%;
}

.resumee {
  margin: 2em auto;
  max-width: 500px;
  padding: 0 30px;
  text-align: justify;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
  max-width: 500px;
}

.skills li {
  border: 4px solid coral;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 80px;
  line-height: 4em;
  margin: 1em 40px;
  width: 80px;
}

.skills li:hover {
  border: 40px solid coral;
  box-sizing: border-box;
  color: antiquewhite;
  margin: 1em 40px;
  line-height: 0px;
}

.skills li:hover span {
  position: relative;
  left: -30px;
}

.with-header {
  background-image: url('./images/hide_menu.svg');
  right: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-header, .app-button {
    transition: right 0.5s ease-in-out;
  }
  p, .skills li {
    transition: border 0.5s ease-in-out, color 0.5s ease-in-out;
  }
}

@media (min-width: 768px), (orientation: landscape) {
  .App-header, .app-button {
    transition: top 0.5s ease-in-out;
  }

  .App-header {
    flex-direction: row;
    height: 30px;
    width: 100%;
  }

  .hide-header {
    right: 0;
    top: -70px;
  }

  .header-button {
    top: 10px;
  }

  .with-header {
    right: 20px;
    top: 70px;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0)
  }
  100% {
    background-size: contain;
    background-image: url('./images/pixel-caboclo.svg');
    transform: rotateY(180deg);
  }
}