main {
  height: 100vh;
  text-align: center;
  width: 100%;
}

img {
  border-radius: 12px;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: block;
  width: 100%;
}

.App-header-link {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  color: white;
}

.App-header-link:hover {
  background-color: lightgray;
}

.app-button {
  background-color: rgba(245, 245, 245, 0.616);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 20px;
  width: 50px;
}

.dark-mode-button {
  bottom: 100px;
}

.header-button {
  background-image: url('./assets/menu.svg');
  bottom: 200px;
  z-index: 2;
}

.hide-header {
  right: -50%;
}

.home {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.profile {
  display: inline-block;
  border: 5px solid #4F778D;
  border-radius: 50%;
  width: 25%;
  animation: flip-out 0.5s backwards ease-in-out;
}

.profile:hover {
  animation: flip-in 0.5s ease-in-out forwards;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  overflow-y: auto;
  width: 50%;
}

.project-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 85%;
  justify-content: center;
  justify-items: center;
  list-style: none;
  margin: 1em 0;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
}

.project-item {
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  max-width: 60%;
  min-width: 20%;
  padding: 0 0 1em;
  width: 300px;
  animation: zoom-out 0.5s ease-in-out both;
}

.project-item:hover {
  opacity: 0.9;
  animation: zoom-in 0.5s ease-in-out both;
}

.project-item > p, .project-item > a {
  padding: 0 1em;
}

.ranking-img {
  width: 100%;
}

.resumee {
  align-items: center;
  background-image: url('./assets/bubble.svg');
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;
  text-align: center;
  width: 100%;
}

.with-header {
  background-image: url('./assets/hide_menu.svg');
  right: 40%;
}

.back-shadow {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.modal {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  margin: auto;
  padding: 4rem;
  position: relative;
  top: 4rem;
  width: 50%;
  z-index: 4;
}

.lang-button {
  background-color: #f2fff2;
  border: none;
  cursor: pointer;
  padding: 2rem;
  font-size: 14pt;
  font-weight: bold;
}

.lang-button:hover {
  opacity: 70%;
}

.lang-button:disabled {
  cursor: default;
  background-color: white;
  opacity: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  p, .skills li, img {
    transition: color 0.5s ease-in-out;
  }
}

@media (min-width: 768px), (orientation: landscape) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }
}

@keyframes flip-in {
  0% {
    transform: rotateY(0)
  }
  100% {
    background-size: cover;
    background-image: url('./assets/pixel-caboclo.svg');
    transform: rotateY(180deg);
  }
}

@keyframes flip-out {
  0%{
    background-size: cover;
    background-image: url('./assets/pixel-caboclo.svg');
    transform: rotateY(180deg)
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
