@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/hack-nerd-font/HackNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/hack-nerd-font/HackNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/hack-nerd-font/HackNerdFont-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/fonts/hack-nerd-font/HackNerdFont-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}